<!DOCTYPE html>
<html lang="$locale.getLanguage()">
<head>
  <title>$singularkeyWidgetPageTitle</title>
  <base href="$CurrentPingFedBaseURL"/>
  <link href="assets/css/main.css" media="all" rel="stylesheet" type="text/css"/>
</head>
<body style="background-color:#3d454d">
  <div class="ping-container ping-signin login-template">
  <div class="ping-body-container">
    <div id="singularkeyWidget"></div>
  </div>
  <div class="ping-footer-container">
    <div class="ping-footer">
      <div class="ping-credits"></div>
      <div class="ping-copyright">$templateMessages.getMessage("global.footerMessage")</div>
    </div> <!-- .ping-footer -->
    <div>
      <div>
        <!--suppress HtmlUnknownTarget -->
        <form action="$resumePath" autocomplete="off" id="pf.form" method="POST">
          <input id="pf.submit" name="pf.submit" type="hidden" value="click"/>
          <input id="flowResult" name="flowResult" type="hidden" value=""/>
        </form>
      </div>
    </div>
  </div> <!-- .ping-footer-container -->
</div>
<script src="$jsWidgetUrl" type="text/javascript"></script>
<!--suppress JSUnusedGlobalSymbols -->
<script type="text/javascript">
  const pingDebug = $pingDebug

  function logDebug(message) {
    if (typeof pingDebug !== typeof undefined && pingDebug === true)
      console.log(message)
  }

  function log(message, payload) {
    let m = message
    if ( typeof payload !== typeof undefined && payload.length > 0 )
      m += ' - ' + payload
    console.log(m)
  }

  function successCallback(response) {
    let flowResult = JSON.stringify(response)
    logDebug('Success callback received payload from flow ' + flowResult)
    document.getElementById('flowResult').value = flowResult
    document.getElementById('pf.form').submit()
  }

  function errorCallback(error) {
    log('Error', JSON.stringify(error))
  }

  function onCloseModal() {
    log('Modal', 'closed.')
  }

  window.addEventListener('load', function () {
    const skResponse = $skToken;
    const widgetConfig = {
      'config': {
        'method': 'runFlow',
        'apiRoot': 'https://$urlBase/v1',
        'accessToken': skResponse['access_token'],
        'companyId': '$companyId',
        '$typeOfId': '$flowOrPolicyId',
        'parameters': $parameters
      },
      'useModal': false,
      successCallback, errorCallback, onCloseModal
    }
    /*** Invoke Singular Key Widget ****/
    log("Invoking widget");
    logDebug("Invoking Widget to https://$urlBase/v1 with company ID $companyId for $typeOfId ID $flowOrPolicyId...")
    singularkey.skRenderScreen(document.getElementById('singularkeyWidget'), widgetConfig)
    logDebug("Widget invocation done.")
  })
</script>
</body>
</html>
