@import url(https://use.typekit.net/nxh5mrb...);

@charset "UTF-8";
.pingicon-sp:before {
    content: "\7F"
}

.card {
    background: #fff;
    -webkit-box-shadow: 0 1px 4px 1px rgba(121, 128, 135, .35);
    box-shadow: 0 1px 4px 1px rgba(121, 128, 135, .35);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 400px;
    min-height: 200px;
    position: relative;
    width: 100%;
    padding: 40px
}

.card--no-padding {
    padding: 0
}

.card__content {
    padding: 40px;
    position: relative
}

.icon-feedback {
    color: #686f77;
    font-size: 28px;
    font-weight: 200;
    margin: 40px 0;
    text-align: center
}

.icon-feedback--success {
    color: #4aba78
}

.icon-feedback__icon {
    margin-bottom: 25px;
    display: block;
    font-size: 80px;
    font-family: iconfont;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-feedback__label {
    margin: 0;
    color: #686f77;
    font-family: 'Helvetica Neue', 'helvetica', 'Roboto', 'Segoe UI', 'sans-serif';
}

.icon-feedback--small .icon-feedback__icon {
    margin-bottom: 0;
    margin-right: 10px;
    font-size: 30px
}

.icon-feedback--small img.icon-feedback__icon {
    height: 50px;
    width: 50px
}

.icon-feedback--small .icon-feedback__label {
    font-size: 22px;
    padding-right: 15px
}

.icon-feedback--bold .icon-feedback__label {
    font-weight: 700
}

.org-logo {
    text-align: center;
    margin: 0 auto 25px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.org-logo__image {
    max-width: 100%;
    max-height: 80px
}

.page {
    background: #798087;
    min-height: 100%
}

.page, .page__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.page__content {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 25px
}

.page__content:after, .page__content:before {
    content: "";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.page__content:before {
    max-height: 225px
}

.page__footer {
    color: #9da2a8;
    font-size: 12px;
    text-align: center;
    margin: 25px
}

@media (max-width: 480px) {
    .page__content {
        margin: 0
    }

    .page__content:before {
        display: none
    }
}

body {
    margin: 0
}

body, input {
    font-family: 'Helvetica Neue', 'helvetica', 'Roboto', 'Segoe UI', 'sans-serif';
    -webkit-font-smoothing: antialiased
}

.app-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.page {
    background-color: #3d454d;
    background-image: -webkit-radial-gradient(40% 40%, circle cover, rgba(61, 69, 77, .9) 30%, #3d454d 80%);
    background-repeat: no-repeat;
    background-attachment: fixed
}

body, html {
    height: 100%
}

.ping-footer {
    display: block;
    font-size: 11px;
    color: #929aa1;
}

.ping-credits {
    display: inline-block;
    vertical-align: middle;
    height: 14px;
    width: 140px;
    font-size: 0;
    background: transparent url("../images/powered-by-ping-identity.svg") no-repeat;
    background-size: contain;
    color: #fff;
    margin: 10px 0;
}

/**********************************************************************************************************************/

.spinner {
    animation: spin 1.5s linear infinite;
    display: block;
    margin: 65px 0;
    text-align: center;
    height: 50px;
    margin: 65px auto;
    width: 50px;
}

.spinner:has(div[class^="__icon"]) {
    height: 0;
    margin: 0;
    width: 0;
}

.spinner__icon:after {
    background-image: url('../images/spinner.svg');
    content: "";
    height: 50px;
    width: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
}

.pingicon-spinner-alt:before {
    content: "\E939"
}

.pingicon-spin-down:before {
    content: "0"
}

.pingicon-spin-up:before {
    content: "1"
}

.pingicon-spinner:before {
    content: "P"
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
